<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%p/%C{1}.%M](%d{HH:mm:ss,SSS}): %m%n}{DEBUG=Bright Black, INFO=White, WARN=Bright YELLOW, ERROR=Bright Red, FATAL=Bright Red}"/>
        </console>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>